nav(class="navbar navbar-default")
  .container
    .navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#menu", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="dashboard")
        img(src="assets/images/wbooks_logo.svg")
    div(class="collapse navbar-collapse", id="menu")
      ul(class="nav navbar-nav navbar-right")
        li(ng-show="menu.authenticatedUser")
          a(ui-sref="dashboard") {{ 'HOME' | translate}}
        li(ng-hide="menu.authenticatedUser")
          a(ui-sref="register") {{ 'CREATE_ACCOUNT' | translate}}
        li(ng-hide="menu.authenticatedUser")
          a(ui-sref="sign-in") {{ 'LOGIN' | translate}}
        li(ng-show="menu.authenticatedUser")
          a(href="javascript:void(0)", ng-click='menu.openSuggestionModal()') {{ 'SUGGEST_BOOK' | translate }}
        li.dropdown(ng-show="menu.authenticatedUser")
          a.dropdown-toggle(
            href="javascript:void(0)"
            data-toggle="dropdown", 
            role="button"
            aria-haspopup=true
            aria-expanded="false")
            i.glyphicon.glyphicon-bell
            span.caret
          ul.dropdown-menu.notifications
            li(
              ng-show='menu.notifications || menu.notifications.length > 0'
              ng-repeat='notification in menu.notifications')
              .media
                .media-left
                  img(ng-src='{{notification.book.imageUrl}}')
                .media-body
                  strong(
                    translate='UNTIL_RETURN_MSG',
                    translate-value-days="{{ notification.to.iso | wisbooDaysTo }}"
                  )
                  h5
                    {{ notification.book.name }}
                  {{ notification.book.author }}
            li(ng-show='!menu.notifications || menu.notifications.length === 0')
              a.disabled
                {{ (!menu.notifications) ? ('NOTIFICATION_ERROR' | translate ) : ('NO_NOTIFICATION' | translate) }}
        li.dropdown(ng-show="menu.authenticatedUser")
          a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown", 
          role="button", aria-haspopup="true", aria-expanded="false") {{ 'HELLO' | translate }} {{ menu.authenticatedUser.name }}
            span.caret
          ul.dropdown-menu
            li
              a(ui-sref="me") {{ 'PROFILE' | translate }}
            li
              a(href="javascript:void(0)", ng-click="menu.logout()") {{ 'LOGOUT' | translate}}
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", 
          role="button", aria-haspopup="true", aria-expanded="false") {{ 'CHANGE_LANG' | translate}}
            span.caret
          ul.dropdown-menu
            li
              a(href="javascript:void(0)", ng-click="menu.changeLanguage('es')") {{ 'SPANISH' | translate }}
            li
              a(href="javascript:void(0)", ng-click="menu.changeLanguage('en')") {{ 'ENGLISH' | translate }}